.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    font-size: 30px;
    color: rgb(4, 3, 3);
    font-family: "Playwrite HU", cursive;
}
.navbar-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    color: #49557e;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar-menu .active{
    padding: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-menu li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -15%;
    right: -25%;
}
@media (max-width : 980px){
    .navbar .logo{
        font-size: 22px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 14px;
    }
}
@media (max-width : 880px){
    .navbar .logo{
        font-size: 18px;
    }
    .navbar-menu li{
        font-size: 13px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 14px;
    }
}
@media (max-width : 780px){
    .navbar-menu{
        display: none;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 12px;
    }
}
@media (max-width : 600px){
    .navbar-right img{
        width: 18px;
    }
    .navbar-right button{
        font-size: 10px;
        height: 28px;
    }
}