.verify{
    min-height: 60vh;
    display: grid;
}
.verify .spinner{
    width: 8vw;
    height: 8vw;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
}
.verify .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.confirm{
    width: 8vw;
    height: 4vw;
    border: none;
    border-radius: 4px;
    background-color: tomato;
    color: white;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 700px) {
    .confirm{
        width: 25vw;
        height: 5vh;
        padding: 7px;
        font-size: 15px;
    }

}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
